@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.table {
  font-family: $ralleway;
  margin-top: 2rem;
  width: 100%;


  &_heading {
    font-size: 1.2rem;
    text-align: left;
  }

  &_cell {
    padding: .5rem .5rem .5rem 0;
    box-sizing: border-box;

    &:nth-child(1) {
      width: 30%;
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:nth-child(3) {
      width: 45%;
    }
    &:nth-child(4) {
      width: 15%;
    }
  }

  &_link {
    display: inline-block;
    font-family: $ralleway;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.2s linear all;

    a {
      color: $black;
      display: inline-block;
      text-decoration: none;
      padding: 1rem;
    }

    &:hover {
      background: $black;
      cursor: pointer;

      a {
        color: white;
      }
    }

    &__active {
      // Not ideal, but works for the moment
      color: $blue !important;
    }
  }
}
